<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quotes Revised</title>
</head>
<body>
  <div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-4">
        <app-quotes-form></app-quotes-form>
      </div>
      <div class="col-8">
        <app-quotes></app-quotes>
      </div>
    </div>
  </div>
</body>
</html>
