<div>
    <div class="row d-flex cards">
        <div *ngFor="let quote of quotes; let i=index" class="col-4-md card text-center">
            <h4 class="headings"> <span id="span-title">{{quote.title}}</span></h4>
            <h5 class="col-12">By: <span class="span-author">{{quote.name}}</span></h5>
            <p class="col-12"><q>{{quote.details}}</q></p> 
            <h5 class="col-12">Author: <span id="author">{{quote.author}}</span></h5>
            <!-- <button (click)='toggleDetails(i)'>Toggle Details</button> -->
            <app-quote-details *ngIf="quote.showInfo" [quote]="quote"></app-quote-details>
        </div>
    </div>
</div>

